* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.box {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    width: 650px;
    height: 550px;
    border-radius: 20px;
    text-align: center;
    margin-top: -40px;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    margin: 50px 58px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: url(./bg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: contain;
}

.box input {
    width: 400px;
    height: 50px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    transition: .3s;
}


.find-btn {
    padding: 10px 30px;
    background-color: #fb8332;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.find-btn:hover {
    background-color: #ff6600;
}

h2 {
    padding: 30px 0px 0px;
    text-align: center;
    color: white;
}

.divone h1 {
    text-align: left;
    font-size: 18px;
    margin-left: 100px;
    padding-top: 15px;
}

.logo{
    border-radius: 10px;
    position: absolute;
    animation: bgcolor 1s infinite;
    padding: 10px 20px;
    top: 3%;
    left: 2%;
}

@keyframes bgcolor {
    0% {
        background: #fce116;
    }
    25% {
        background: #9ff303;
    }
    50% {
        background: #fcb316;
    }
    75% {
        background: #16fcbb;
    }
    100% {
        background: #ce16fc;
    }
}

.changecontent::after {
    content: ' ';
    color: #fbff00;
    animation: changetext 10s infinite linear;
}


@keyframes changetext {
    0% {
        content: "Country ";
    }

    10% {
        content: "Capital";
    }

    20% {
        content: "City";
    }

    30% {
        content: "Region ";
    }

    40% {
        content: "Latitude ";
    }

    50% {
        content: "Longitude ";
    }

    60% {
        content: "Time Zone";
    }

    70% {
        content: "Calling Code";
    }

    80% {
        content: "Currency";
    }

    90% {
        content: "IP Address";
    }

    100% {
        content: "Others";
    }
}


@media screen and (max-width:650px) {
    h2{
        display: none;
    }
    .find-btn{
        width: 100px;
        font-size: 16px;
        padding: 10px 10px;
    }
    .top-bar input{
        width: 200px;
    }

    .box{
        margin-top: 50px;
    }

    .logo{
        text-align: center;
    }
}